<!DOCTYPE html>
<html lang="en">

<head>
    <title>HvA | Overview</title>
    <%- include('./components/head') %>
</head>

<body>
    <header>
        <a href="hva.nl"><img src="/static/img/hva-logo.png" alt="" width="15%" class="hva-logo"></a>
    </header>
    <main>
        <h1>School subjects</h1>
        <p>In this survey we want to know how you experienced the courses. What went well and where can we improve? The
            survey consists of 6 subjects, each containing 3 questions.
        </p>
        <h2>Empty enquetes</h2>
        <ul>
        <% emptySurveys.forEach(function(course) { %>
            <li><a href="/survey/<%- user.uuid %>/<%- course %>"><%= course %></a></li>
            <% }) %>
        </ul>
        <h2>Filled in enquetes</h2>
        <ul>
        <% filledSurveys.forEach(function(course) { %>
            <li><a href="/survey/<%- user.uuid %>/<%- course %>"><%= course %></a></li>
            <% }) %>
        </ul>
    </main>
</body>

</html>